views/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Keek</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/keek.css">
    <link rel="stylesheet" href="fonts/raleway.css">
</head>
<body id="bg">
    <ul class="nav mt-3 nav-light justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="./">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="privacy.html">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="terms.html">Terms</a>
        </li>
    </ul>
    <div class="hero">
        <div class="hero-body text-center">
            <img src="images/logo.png" alt="" width="300" height="300">
            <h1 class="hero-title display-1">Keek</h1>
        </div>
    </div>
</body>
</html>

views/index.jade
extends layoutIndex


block content
    title keek
    .hero
      .hero-body.text-center
        img(src='images/logo.png', alt='', width='300', height='300')
        h1.hero-title.display-1 Keek
        a(href='https://itunes.apple.com/us/app/keek/id1291835732?mt=8') 
           img(src='images/download.svg', alt='', width='300', height='300')
